aiofiles==0.8.0; python_version >= "3.7" and python_version < "4.0"
anyio==3.6.1; python_full_version >= "3.6.2" and python_version >= "3.7"
certifi==2022.6.15; python_version >= "3.7"
h11==0.12.0; python_version >= "3.7"
httpcore==0.15.0; python_version >= "3.7"
httptools==0.4.0; python_full_version >= "3.5.0" and python_version >= "3.7"
httpx==0.23.0; python_version >= "3.7"
idna==3.3; python_version >= "3.7" and python_full_version >= "3.6.2"
multidict==6.0.2; python_version >= "3.7"
rfc3986==1.5.0; python_version >= "3.7"
sanic-routing==22.3.0; python_version >= "3.7"
sanic==22.6.2; python_version >= "3.7"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.7"
ujson==5.4.0; python_version >= "3.7"
uvloop==0.16.0; sys_platform != "win32" and implementation_name == "cpython" and python_version >= "3.7"
websockets==10.3; python_version >= "3.7"
xxhash==3.0.0; python_version >= "3.6"
